<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">
      <span class="material-icons">shopping_bag</span>
      E-Shop
    </a>

    <div class="navbar-menu">
      <a routerLink="/products" routerLinkActive="active" class="nav-link">
        <span class="material-icons">storefront</span>
        Products
      </a>

      <a *ngIf="isLoggedIn" routerLink="/cart" routerLinkActive="active" class="nav-link cart-link">
        <span class="material-icons">shopping_cart</span>
        Cart
        <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
      </a>
    </div>

    <div class="navbar-auth">
      <ng-container *ngIf="!isLoggedIn; else loggedIn">
        <a routerLink="/login" class="btn btn-outline">Login</a>
        <a routerLink="/signup" class="btn btn-primary">Sign Up</a>
      </ng-container>

      <ng-template #loggedIn>
        <span class="user-greeting">
          <span class="material-icons">account_circle</span>
          {{ user?.username }}
        </span>
        <button (click)="logout()" class="btn btn-outline btn-logout">
          <span class="material-icons">logout</span>
          Logout
        </button>
      </ng-template>
    </div>
  </div>
</nav>
